.menuContainer {
  width: 300px;
  background-color: wheat;
  color: black;
  list-style-type: none;
}

.menuWraper {
  position: absolute;
  right: 24px;
  top: 4px;
}

.listItem {
  list-style-type: none;
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 10px;
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.flag {
  width: 30px;
  height: 30px;
  margin: 8px;
}
