.gridItem {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid wheat;
  padding: 20px;
  height: 100%;
}

.gridText {
  padding: 16px;
}

.card img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}
