.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 0 20px;
  position: relative;
}

.newsList {
  list-style-type: none;
  padding: 0 16px;
}

.newsItem {
  list-style-type: none;
}

.newsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 40px 40px;
}
@media (max-width: 1280px) {
  .newsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .newsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
