.headerContainer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid wheat;
  padding: 24px;
  margin: 0 0 24px 0;
}

.title {
  font-weight: 700;
  font-size: 40px;
}

.linkTitle {
  color: wheat;
  text-decoration: none;
}

@media (max-width: 480px) {
  .title {
    font-size: 34px;
  }
}
