.headerContainer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid wheat;
  padding: 26px;
}

.title {
  font-weight: 700;
  font-size: 40px;
}
